html
    head
        meta(charset="utf-8")
    body
        section.section
            .container
                .field
                    label.label(id="readingTime_label")
                    p.control
                        input.input.is-small(
                            id="readingTimeAmount"
                            type="number"
                            min="1"
                            max="180"
                            step="1")
                    label.label(id="breakTime_label")
                    p.control
                        input.input.is-small(
                            id="breakTimeAmount"
                            type="number"
                            min="1"
                            max="120"
                            step="1")
                    label.label(id="title_label")
                    p.control
                        input.input.is-small(
                            id="title"
                            type="text")
                    label.label(id="message_label")
                    p.control
                        input.input.is-small(
                            id="message"
                            type="text"
                            rows="2")
        section.section
            .container
                .field
                    p.control
                        input(
                            id="soundEnabled"
                            type="checkbox")
                        span#soundEnabled_label
                .box.is-hidden#customSoundPanel
                    .field
                        p.control
                            input(
                                id="selectSoundFile"
                                type="file")
                        label.label(id="customSoundURL_label")
                        p.control
                            input.input.is-small(
                                id="customSoundURL"
                                type="text")
        section.section
            .flex-container.center.horizontal
                button.item.button.is-success(id="apply")
                button.item.button.is-link(id="reset")
            .container
                .notification#msg
        script(src="browser-polyfill.js")